.nav {
  width: auto;
  padding: 15px 20px;
  gap: 10px;
  background-color: whitesmoke;
}

.layout {
  width: auto;
  display: flex;
  gap: 10px;
}

.dashboard {
  /* background-color: #e4e8ef; */
  width: 100%;
  height: auto;
  padding: 10px;
}

.card__dash {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.chart {
  max-width: 730px;
  background-color: whitesmoke;
  border-radius: 15px;
  margin-top: 20px;
}
