.nav {
  width: auto;
  padding: 15px 20px;
  gap: 10px;
  background-color: whitesmoke;
}

.layout {
  width: auto;
  display: flex;
  gap: 10px;
}

.dashboard {
  /* background-color: #e4e8ef; */
  width: 100%;
  height: auto;
  padding: 10px;
}

.card__dash {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.chart {
  width: 730px;
  background-color: whitesmoke;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 15px;
}

.chart__profile {
  display: flex;
  gap: 20px;
}

.right__chart {
  margin-top: 20px;
  display: inline-flex;
  height: 363px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background-color: whitesmoke;
  border-radius: 10px;
}
